* {
  margin: 0;
  padding: 0;
}

#background {
  z-index: -10;
    opacity: 0.8;
    filter: blur(1px);
}
.btn:hover{
  background-color: #2d9ccc;
    border: 1px solid #2d9ccc;
    color: #ffffff;
}
.rounded-12 {
  border-radius: 42px;
  border: 1px solid #2d9ccc;
}
.navbar-brand .logo{
  min-width: 140px;
}
.bg-color{
  border: 1px solid #2d9ccc;
  background-color: #2d9ccc;
}
span.bl-color {
  color: #2d9ccc;
}
.section-heading {
  font-size: 58px;
  font-weight: 700;
}
nav img.logo{
  min-width: 140px;
}
.header {
  z-index: 2;
  background-color: #ffffff;
}
nav a.nav-link {
  color: #000 !important;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
 nav a:hover {
  color: #2d9ccc !important;
}
/* hero section */
.hero-section {
  position: relative;
  padding: 300px 0 200px;   
   background: linear-gradient(135deg, #2D9CCC20 20%, #00ffc600, #2D9CCC20 80%);
}
.hero-section h4 {
  display: inline-block;
  padding: 4px 12px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.144px;
}
.hero-section h1 {
  text-align: center;
  font-size: 77px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}

/* service-section */
.service-section {
  background-image: url("./assets/e76443dbdb2e9df9ca15e9d64ca0be9681c6b799.jpg");
}
.service-section .outer-border {
  border-radius: 16px;
  border: 1px solid #e5e7eb;
}
.service-section .inner-border:hover {
  border: 1px solid #000 !important;
  transform: translateY(-5px);
}
.service-section .inner-border {
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  
  transition: 0.2s all ease-in-out;
}
.custom-pill {
  background-color: #d9f3ff; /* light blue background */
  color: #23a7e0; /* blue text */
  padding: 8px 24px; /* vertical + horizontal padding */
  border-radius: 50px; /* fully rounded pill shape */
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.custom-pill .dot {
  height: 6px;
  width: 6px;
  background-color: #23a7e0;
  border-radius: 50%;
  margin-right: 6px;
}

.custom-pill .dot:nth-child(3) {
  opacity: 1;
}
.custom-pill .dot:nth-child(2) {
  opacity: 0.6;
  height: 4px;
  width: 4px;
}
.custom-pill .dot:nth-child(1) {
  opacity: 0.2;
  height: 2px;
  width: 2px;
}
.icon-flip{
  position: relative;
  display: inline-block;
  width: 68px;
  height: 68px;
  background-color: #D7F3FF;
  border-radius: 10px;
  padding: .5rem;
}
.icon-flip::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border-radius: 3px;
    bottom: 0;
    width: 24px;
    height: 2px;
    background-color: var();
    transition: all 0.3s 
ease-in-out;
}
.icon-flip:hover::after {
      background: #2d9ccc;
}
.testimonial-section .trusted-box {
  padding: 40px 20px;
}

.trusted-box .logo-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  transition: 0.2s;
}

.trusted-box .logo-card img {
  max-height: 50px;
  width: auto;
  opacity: 0.9;
}

.trusted-box .logo-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}
/* about-section */
.about-section {
  background-color: #eaf5fa;
  padding: 50px 0;
}
.about-section h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 140%;
  color: #2d9ccc;
}
.section-footer a .footer-logo {
  height: 50px;
}

/* media-queries */
@media (max-width: 1200px) and (min-width: 768px) {
  .hero-section h1 {
    font-size: 48px;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .hero-section h1 {
    font-size: 31px;
  }

  .hero-section h4 {
    font-size: 12px;
  }
  .rounded-12 {
    font-size: 12px;
  }
  .section-heading {
    font-size: 32px !important;
  }
  .section-content {
    font-size: 14px !important;
  }
  .section-sub-heading {
    font-size: 24px !important;
  }
  .section-footer a {
    font-size: 14px !important;
  }
  .section-footer h3 {
    font-size: 14px !important;
  }

  button#menuBtn {
    width: 50px;
    height: 50px;
    display: flex !important;
    gap: 5px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
  }
  button#menuBtn span {
    width: 22px;
    height: 2px;
    border-radius: 5px;
    display: inline-block;
    background-color: #151517 !important;
    transition: all 0.3s ease;
  }
  .navbar-brand .logo{
  width: 140px;
}

}
@media (max-width: 479px) {
  .hero-section h1 {
    font-size: 22px;
  }
  .hero-section h4 {
    font-size: 10px;
  }
  .rounded-12 {
    font-size: 12px;
  }
  .section-heading {
    font-size: 22px !important;
  }
  .section-content {
    font-size: 12px !important;
  }
  .vision-section a {
    font-size: 12px !important;
    padding: 10px 25px !important;
    margin-right: 25px !important;
  }
  .section-sub-heading {
    font-size: 20px !important;
  }
  .section-footer a {
    font-size: 12px !important;
  }
  .section-footer h3 {
    font-size: 14px !important;
  }

  button#menuBtn {
    width: 50px;
    height: 50px;
    display: flex !important;
    gap: 5px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
  }
  button#menuBtn span {
    width: 22px;
    height: 2px;
    border-radius: 5px;
    display: inline-block;
    background-color: #151517 !important;
    transition: all 0.3s ease;
  }
  .navbar-brand .logo{
  width: 140px;
}
}
